{% extends "admin/base.html.twig" %}

{% block container %}
    <h1>Liste des articles</h1>

    {% if not posts %}
        <div class="notice notice__info">
            Aucun article trouvé
        </div>
    {% else %}
        <div class="table">
            <div class="head">
                <div class="row">
                    <div class="cell">Identifiant</div>
                    <div class="cell">Titre</div>
                    <div class="cell">Créé le</div>
                    <div class="cell">Auteur</div>
                    <div class="cell">Dernière modification</div>
                    <div class="cell"></div>
                </div>
            </div>
            <div class="content">
                {% for post in posts %}
                    <div class="row">
                        <div class="cell">#{{ post.id }}</div>
                        <div class="cell">{{ post.title }}</div>
                        <div class="cell">{{ post.createdAt }}</div>
                        <div class="cell">{{ post.username }} <span class="info">({{ post.email }})</span></div>
                        <div class="cell">{{ post.updatedAt }}</div>
                        <div class="cell">
                            <div class="actions">
                                <a href="/post/index/{{ post.id }}" target="_blank" title="Voir l'article"><i class="fas fa-eye"></i></a>
                                <a href="/admin/postEdit/{{ post.id }}" title="Modifier l'article"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" title="Supprimer l'article" id="deletePost" data-id="{{ post.id }}"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}