{% extends "admin/base.html.twig" %}

{% block title %}Détails du commentaire{% endblock %}

{% block container %}
    <h1>Détails du commentaire</h1>

    <div class="comment">
        <div class="group">
            <div class="label">Auteur</div>
            <div class="content">{{ comment.author.username }} ({{ comment.author.email }})</div>
        </div>
        <div class="group">
            <div class="label">Contenu</div>
            <div class="content">{{ comment.content }}</div>
        </div>
        <div class="group group__actions">
            {% if comment.status == 1 %}
                <a href="/admin/validateComment/{{ comment.id }}" title="Valider le commentaire" class="group__actions__link group__actions__link--validate"><i class="fas fa-check"></i> Valider le commentaire</a>
            {% else %}
                <a href="/admin/disableComment/{{ comment.id }}" title="Désactiver le commentaire" class="group__actions__link group__actions__link--disable"><i class="fas fa-times"></i> Désactiver le commentaire</a>
            {% endif %}
            <a href="/admin/deleteComment/{{ comment.id }}" title="Supprimer le commentaire" class="group__actions__link group__actions__link--delete" data-confirm="true"><i class="fas fa-trash-alt"></i> Supprimer le commentaire</a>
            <a href="/article/{{ comment.post.id }}" title="Voir l'article" target="_blank" class="group__actions__link group__actions__link--show"><i class="fas fa-eye"></i> Voir l'article</a>
        </div>
        <div class="group group__info">
            Publié le {{ comment.createdAt | date('d/m/Y') }} à {{ comment.createdAt | date('H:i') }}
        </div>
    </div>
{% endblock %}
