{% extends "base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block class_body %}single-post post-{{ post.id }}{% endblock %}

{% block body %}
    {% if error_message %}
        <div class="container">
            <div class="notice notice__error">
                {{ error_message }}
            </div>
        </div>
    {% endif %}
    {% if success_message %}
        <div class="container">
            <div class="notice notice__success">
                {{ success_message }}
            </div>
        </div>
    {% endif %}
    <section class="article">
        <div class="container">
            <img src="/assets/img/posts/{{ post.image }}" alt="{{ post.title }}" class="article__thumbnail">
            <div class="article__metas">
                <small class="article__author">
                    <i class="far fa-user"></i> Publié par <i>{{ post.author.username }}</i></small>
                <small class="article__date">
                    <i class="far fa-calendar-alt"></i> {{ post.createdAt == post.updatedAt ? 'Publié le' : 'Mis à jour le' }} {{ post.updatedAt | date('d/m/Y') }}
                </small>
            </div>

            <h1 class="article__title">{{ post.title }}</h1>

            <p class="article__content">
                {{ post.content }}
            </p>
        </div>
    </section>

    <section class="commentForm">
        <div class="container">
            <h2>Ajouter un commentaire</h2>
            {% if session.userID %}
                <form action="/post/addComment/{{ post.id }}" class="form-action" method="post">
                    <div class="form-content">
                        <div class="form-group">
                            <label for="content">Contenu<span class="required">*</span></label>
                            <textarea id="content" name="content" required autocomplete="off" placeholder="Entrez votre commentaire"></textarea>
                        </div>
                        <div class="form-group form-group__hp">
                            <label for="country">VEUILLEZ LAISSER CE CHAMP VIDE</label>
                            <input type="text" name="country" id="country" value="" tabindex="-1" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Ajouter mon commentaire" class="submit" name="submit">
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="notice notice__info">
                    Vous devez être connecté pour ajouter un commentaire.
                </div>
            {% endif %}
        </div>
    </section>

    <section class="commentsList"></section>
{% endblock %}