<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Accueil{% endblock %} - Mon blog</title>
    <link rel="stylesheet" href="http://localhost:3030/css/blog_php.css">
</head>
<body class="{% block class_body %}{% endblock %}">
    <h1>Une erreur est survenue</h1>
    <h3>{{ msgError }}</h3>
    <p>In {{ file }} at line {{ line }}</p>

    <ol>
        {% for trace in traces %}
            <li>In {{ trace.file }}({{ trace.line }}): {{ trace.class }}{{ trace.type }}{{ trace.function }}</li>
        {% endfor %}
    </ol>
</body>
</html>